.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}
body{
	background-color: #fef7f3;
}
.navbar-nav>li>a {
  
	color: black;
	font-family: unset;
}
.jumbotron {
	background-color: #fef7f3;

}
.head img{
	border-radius: 50%;
	    width: 80px;
    height: 80px;
    margin-left: 88px;
}
/* Value Slider */
.values-slider .value{
	box-sizing: border-box;
	/*background: #fff;*/
	background-size: 100%;
	text-align: center;
	margin: 0 auto;
	padding: 45px;
	color: #666;
	max-width: 350px;
	min-height: 230px;
}

.values-slider .value .head {}

.values-slider .value .head h3{
	display: inline-block;
	font: bold 24px 'open sans';
	position: relative;
	top: -20px;
}

.values-slider .value .head .line{
	display: inline-block;
	width: 40px;
	height: 1px;
	background: #eacfb1;
	margin: 0 15px;
	position: relative;
	top: -25px;
}

.values-slider .value .head .value-icon{
	display: inline-block;
	width: 55px;
	height: auto;
}

.values-slider .value .head .value-icon svg{
	width: 100%;
	height: auto;
}

.values-slider .value .value-text{
	font: 12px quicksand;
	line-height: 20px;
	margin-top: 10px;
}

.values-slider .owl-item .item {
	filter: blur(3px);
	transform: scale(.75);
	transition: all .5s;
}

.values-slider .owl-item.active.center .item{
	 background-image: url('circle.png');
	     background-position: center;
    background-size: cover;
	filter: blur(0);
	transform: scale(1);
	transition: all .5s;
}

.values-slider .owl-nav {
	position: absolute;
	top: 35%;
	width: 100%;
}


.values-slider .owl-nav .owl-prev {
	float: left;
}

.values-slider .owl-nav .owl-prev span, .values-slider .owl-nav .owl-next span{
	color: #666;
	font-size: 48px;
	border-radius: 100%;
	width: 65px;
	height: 65px;
	line-height: 65px;
	text-align: center;
}

.values-slider .owl-nav .owl-next {
	float: right;
}
.mt-5{
    margin-top: 5rem;
}

.our-blog{
    background-color: #f8f9fa;
    padding: 100px 0;
}

.container{
 /*  max-width: 960px;*/
    margin: 0 auto;
}
.fonting{
	font-family: 'Italianno', cursive;
	font-size: 50px;
	color: #3fd83f;
}
.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.text-center{
    text-align: center;

    /*font-size: 28px;*/
}

.text-center h2{
    font-weight: 500;
    font-size: 2.6em;
}

.text-center h2 span{
    font-weight: 800;
}

.text-center p{
    max-width: 500px;
    margin: 0 auto;
    color: #6c757d;
    line-height: 1.5;
    font-size: 1em;
        font-weight: bold;
}

.col{
    width: 33.3333333%;
    overflow: hidden;
    padding: 15px;
}
.card-deck .card{
	    border: 2px solid;
    border-color: #f9ba94;
        height: fit-content;
}
.mt-1{
	margin-top: 40px;
}
.col .card{
	   
    width: 100%;
    height: 90%;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.col img{
    width: 100%;
    height: auto;
    border: 0;
}

.col .card-body{
    height: 100%;

    padding: 0 15px 15px 15px;
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card-body h5{
    font-size: 24px;
    margin: 7px 0;
    background-image: #fceadf;
}

.card:hover{
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}

.card p{
    color: #6c757d;
}

.card-body .date-author span{
    color: #e74c3c;
}

.card-body h5 a{
    color: #222;
}

@media(min-width: 577px) and (max-width: 768px){
    .col{
        width: 50%;
    }
}

@media(max-width: 576px){
    .col{
        width: 100%;
    }
}
.card-deck {
  margin: 0 -15px;
  justify-content: space-between;
}

.card-deck .card {
  margin: 0 0 1rem;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .card-deck .card {
    -ms-flex: 0 0 48.7%;
    flex: 0 0 48.7%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .card-deck .card {
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
  }
}

@media (min-width: 992px)
{
  .card-deck .card {
    -ms-flex: 0 0 24%;
    flex: 0 0 24%;
  }
}

.flexbox-imgs {
  display: -webkit-box;  /* iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* IE 10 */
  display: -webkit-flex; /* Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /*Firefox, Chrome, Opera */
  
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.flexbox-imgs img {
      justify-content: center;
       max-height: 200px;
    max-width: 205px;
    margin: 5px 12px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .65;
    transition: all .3s;
 
}
.flexbox-imgs img:hover {
	opacity: 1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

@media screen and (max-width: 800px) {
    .flexbox-imgs img {
      max-width: 125px;
      max-height: 88px;
      margin: 5px 8px;
  }
}

@media screen and (max-width: 560px) {
  .flexbox-imgs img {
      max-width: 85px;
      max-height: 60px;
      margin: 3px 5px;
  }
}
button {
  background: #fff;
  color: #444;
  border: 0;
  padding: 1rem 2rem;
  display: inline-block;
  margin-top: 1rem;
}

@media (min-width: 700px) {
  .hero-button {
    margin-top: 2rem;
  }
}

.hero-image {
  order: -1;
  justify-items: center;
}

@media (min-width: 800px) {
  .hero-image {
    order: initial;
  }
}

.hero-image img {
  width: 100%;
}

.hero-form {
  margin-top: 1rem;
}

@media (min-width: 700px) {
  .hero-form {
    margin-top: 2rem;
  }
}

.hero-form-input {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 400px) {
  .hero-form-input {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}

.hero-email-input {
  padding: 1rem;
  box-sizing: border-box;
}

.hero-form-submit {
  background-color: #f50057;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  margin-top: 0.5rem;
}

@media (min-width: 400px) {
  .hero-form-submit {
    margin-top: 0;
  }
}
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#ffdccb; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

.foote_bottom_ul_amrc li{
	    padding-left: 21px;
    font-size: 18px;
}


.progress-bar {
  width: 80%;
}
.bar ul {
  /* remove default ul styling */
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.bar li {
  display: flex;
  width: 100%;
  align-items: center;
}
.bar li span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  /* Every span needs a border so things align */
  border: 3px solid #474748;
  /*background-color: #474748;*/
  color: white;
}
.bar li:after {
  background-color: #474748;
  content: '';
  height: 3px;
  flex-grow: 1;
}
.bar li:last-child {
  /*  This prevents the last li from adding space to the right of the span  */
  width: auto;
}
.bar li:last-child:after {
  display: none;
}
.bar li.completed:after {
  background-color: #f8a26e;
}
.completed span{
  border-color: #f8a26e;
  /* background-color: #fff;
  background-color: #f8a26e;*/
}
.current {
  border-color: #f8a26e;
 /* background-color: #fff;*/
  color: #f8a26e;
}

.bar{
  background-color: black;
      height: 46px;
      display: flex;
      color: white;
          font-family: unset;
          padding-left: 20px;

}
.bar p{
     padding: 11px;
}
.progress-bar {
background-color: transparent;
}

.filterform{
    background-color: #fceadf;
    margin: 25px 190px;
    /* height: 140px; */
    padding: 21px 76px;

}

.mybutn{
  background: transparent;
    color: #444;
    border: 2px solid;
    padding: 1rem 2rem;
    display: inline-block;
    margin-top: 1rem;
    width: 100%;
}    

.filter-form input{
     background: transparent;
    color: #444;
    border: 2px solid;
    padding: 1rem 2rem;
    display: inline-block;
    margin-top: 1rem;
    width: 100%;
}
.filter-form input['checkbox']{
}
.mybtn{
  background-color: #f8a26e;
  color: white;
      width: 500px;
    height: 50px;
}
